/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/.vs/Lesson1/v17/.suo
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.csproj.AssemblyReference.cache
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.dgspec.json
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.props
/Lesson1/Lesson1/obj/project.assets.json
/Lesson1/Lesson1/obj/project.nuget.cache
/.gitignore
/Lesson1/.vs/Lesson1/project-colors.json
/Lesson1/.vs/Lesson1/v17/.futdcache.v1
/Lesson1/.vs/Lesson1/v17/.suo
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.csproj.AssemblyReference.cache
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.dgspec.json
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.props
/Lesson1/Lesson1/obj/project.assets.json
/Lesson1/Lesson1/obj/project.nuget.cache
