/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.csproj.AssemblyReference.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.GeneratedMSBuildEditorConfig.editorconfig
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.dgspec.json
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.props
/Lesson1/Lesson1/obj/project.assets.json
/Lesson1/Lesson1/obj/project.nuget.cache
/Lesson1/.vs/Lesson1/DesignTimeBuild/.dtbcache.v2
/Lesson1/.vs/Lesson1/v16/.suo
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.csproj.AssemblyReference.cache
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.dgspec.json
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.props
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.targets
/Lesson1/Lesson1/obj/project.assets.json
/Lesson1/Lesson1/obj/project.nuget.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.GeneratedMSBuildEditorConfig.editorconfig
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.csproj.AssemblyReference.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.GeneratedMSBuildEditorConfig.editorconfig
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.dgspec.json
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.props
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.targets
/Lesson1/Lesson1/obj/project.assets.json
/Lesson1/Lesson1/obj/project.nuget.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.GeneratedMSBuildEditorConfig.editorconfig
